[submodule "samples/client/spotify/motoko/generated"]
	path = samples/client/spotify/motoko/generated
	url = git@github.com:caffeinelabs/spotify-client.git
[submodule "samples/client/x/motoko/generated"]
	path = samples/client/x/motoko/generated
	url = git@github.com:caffeinelabs/x-client.git
[submodule "samples/client/twilio/motoko/generated"]
	path = samples/client/twilio/motoko/generated
	url = git@github.com:caffeinelabs/twilio-client.git
[submodule "samples/client/tmdb/motoko/generated"]
	path = samples/client/tmdb/motoko/generated
	url = git@github.com:caffeinelabs/tmdb-client.git
[submodule "samples/client/openai/motoko/generated"]
	path = samples/client/openai/motoko/generated
	url = git@github.com:caffeinelabs/openai-client.git
[submodule "samples/client/weatherapi/motoko/generated"]
	path = samples/client/weatherapi/motoko/generated
	url = git@github.com:caffeinelabs/weatherapi-client.git
