{{!
  Build a `(Element -> Candid.Candid)` function suitable for `Array.map`,
  for an array's element type. Inherits CodegenProperty context — but
  here we operate on `items` (the element-level CodegenProperty).
}}{{#items}}{{#isString}}func(s : Text) : Candid.Candid = #Text(s){{/isString}}{{^isString}}{{#isBoolean}}func(b : Bool) : Candid.Candid = #Bool(b){{/isBoolean}}{{^isBoolean}}{{#isFloat}}func(f : Float) : Candid.Candid = #Float(f){{/isFloat}}{{^isFloat}}{{#isDouble}}func(f : Float) : Candid.Candid = #Float(f){{/isDouble}}{{^isDouble}}{{#isInteger}}func(i : Int) : Candid.Candid = #Int(i){{/isInteger}}{{^isInteger}}{{#isLong}}func(i : Int) : Candid.Candid = #Int(i){{/isLong}}{{^isLong}}{{#isEnumRef}}{{{datatypeWithEnum}}}.toCandidValue{{/isEnumRef}}{{^isEnumRef}}{{{dataType}}}.toCandidValue{{/isEnumRef}}{{/isLong}}{{/isInteger}}{{/isDouble}}{{/isFloat}}{{/isBoolean}}{{/isString}}{{/items}}